

.register{
    border-radius: 10px;
    font-size: 22px;
    background-color: rgb(247, 254, 255);
    margin: 100px auto;
    width: 400px;
    height: auto;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.registerdoctor{
    border-radius: 10px;
    font-size: 22px;
    background-color: rgb(247, 254, 255);
    margin: 100px auto;
    width: 400px;
    height: auto;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.password_change{
    border-radius: 10px;
    font-size: 22px;
    background-color: rgb(247, 254, 255);
    margin: 100px auto;
    width: 400px;
    height: 600px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.topbuttonsheader {
    background-color: rgb(228, 253, 253);
    width: 280px;
    font-size: 30px;
    border-radius: 20px;
    height: 33px;
    display: inline;

}

.topbuttons{
    border-color: black;
    text-decoration: none;
    color: black;
    display: inline;
    color:rgb(66, 109, 110);
    margin:0px 20px;
}
.current {
    border-radius: 20px;
    border:rgb(44, 73, 73);
    background-color: rgb(66, 109, 110);
    display: inline-block;
    color:white ;
    margin:0px;
    width: 130px;


}
input[type = text]{
    height:27px;
    width:300px; 
    font-size: 20px; 
    border:none;
    border-bottom: 1px solid rgb(192, 192, 192);
}

input[type = password]{
    height:27px;
    width:300px; 
    font-size: 20px; 
    border:none;
    border-bottom: 1px solid rgb(192, 192, 192);
}

label {
    margin-top: 20px;
    display:inine;
}
select {
    background-color: white;
    height:27px;
    width:300px; 
    font-size: 20px; 
    border:none;
    border-bottom: 1px solid rgb(192, 192, 192);
}
button {
    border-radius: 5px;
    font-size: 25px;
    color :white;
    width: 150px;
    height:40px;
    background-color: rgb(66, 109, 110);
    margin-top: 30px;
}
button:hover {
    background-color: rgb(44, 73, 73);
}
.buttonc {
    display: block;
}